"# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd

# Virtual Environments
venv/
.venv/
env/
bin/
lib/
include/

# Environment Variables
.env

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Testing/Temporary Files
*.png
*.jpg
*.jpeg
*.webp
"